@charset "UTF-8";
@import "variables";
@import "compass";
@import "../node_modules/reset-css/reset";
.wrapper {
    width: 100%;
    height: 100%;
    //header,footer公共代码
    .header-top {
        height: 26px;
        background: $light-grey;
        text-align: right;
        border-bottom: 1px solid $border;
        p {
            line-height: 26px;
            font-size: 12px;
            color: $color9;
            i {
                font-size: 12px;
                color: $color9;
                margin-right: 3px;
            }
        }
        .last {
            display: inline-block;
            margin-left: 10px;
        }
    }
    .header {
        display: flex;
        padding: 10px 0 0;
        .logo {
            @include inline-block(top);
            width: 160px;
            height: 50px;
            margin-bottom: 10px;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
            background-image: url("../img/logo.png");
            flex-grow: 0;
        }
        .desc {
            width: 140px;
            margin: 5px 0 0 30px;
            font-size: 12px;
            color: lighten($color3, 20%);
            height: 35px;
            h2 {
                display: inline-block;
                background: $orange;
                line-height: 22px;
                color: $white;
                text-align: center;
                border-radius: 16px;
                margin-bottom: 5px;
                padding: 0 7px;
            }
            p {
                display: inline-block;
                padding: 0 5px;
                text-align: center;
            }
        }
        .menu-list {
            @include inline-block(top);
            flex-grow: 1;
            text-align: center;
            display: flex;
            li {
                flex: 1;
                @include inline-block(top);
                transition: all .5s ease;
                text-align: right;
                &:first-child {
                    padding-left: 100px;
                }
                >a {
                    font-size: 18px;
                    @include inline-block(top);
                    color: $color6;
                    padding: 20px 10px 10px;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    -webkit-transition: all .1s ease-in-out;
                    -moz-transition: all .1s ease-in-out;
                    -ms-transition: all .1s ease-in-out;
                    -o-transition: all .1s ease-in-out;
                    transition: all .1s ease-in-out;
                }
                i {
                    @include inline-block(top);
                    font-size: 0.8rem;
                    margin: 9px 5px 0;
                }
                &:hover,
                &.active {
                    >a {
                        color: $orange;
                        border-color: $orange;
                    }
                }
            }
        }
        dl {
            @include inline-block(top);
            width: 210px;
            float: right;
            padding-top: 6px;
            flex-grow: 0;
            dt {
                @include inline-block(top);
                width: 30px;
                height: 30px;
                i {
                    @include inline-block(top);
                    padding-top: 6px;
                    font-size: 1.6rem;
                    color: $color9;
                }
            }
            dd {
                @include inline-block(top);
                padding-left: 5px;
                p {
                    line-height: 20px;
                    font-size: 14px;
                    color: $color6;
                }
            }
        }
    }
    .footer {
        padding: 30px 0 10px;
        text-align: center;
        background: $bg_black;
        h2 {
            font-size: 22px;
            color: $white;
            .big {
                font-size: 30px;
                color: $orange;
            }
            .orange {
                color: $orange;
            }
        }
        h3 {
            width: 100%;
            font-size: 28px;
            color: $white;
            padding: 60px 0 50px;
            background: url("../img/footer-line.png") no-repeat center;
        }
        p {
            font-size: 14px;
            color: $light-white;
            padding-bottom: 20px;
        }
        .wechat {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 390px;
            margin: 0 auto 50px;
            .block {
                width: 170px;
                dt {
                    width: 160px;
                    height: 160px;
                    background: $white;
                    padding: 5px;
                    img {
                        width: 100%;
                    }
                }
                dd {
                    padding: 20px 0 0;
                    color: $light-white;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
    &.index {
        .main {
            .banner {
                width: 100%;
                height: 360px;
                background: url("../img/index-banner.png") no-repeat center/cover;
            }
            &-info {
                padding: 30px 0;
                .list {
                    display: flex;
                    .item {
                        flex: 1;
                        text-align: center;
                        h2 {
                            display: inline-block;
                            margin: 0 auto 5px;
                            width: 47px;
                            height: 47px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            &.icon1 {
                                background-image: url('../img/index-icon1.png');
                            }
                            &.icon2 {
                                background-image: url('../img/index-icon2.png');
                            }
                            &.icon3 {
                                background-image: url('../img/index-icon3.png');
                            }
                            i {
                                color: $orange;
                                font-size: 45px;
                            }
                        }
                        h3 {
                            color: $black;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 36px;
                        }
                        p {
                            color: $color6;
                            font-size: 14px;
                            padding-top: 5px;
                        }
                    }
                }
            }
            .activityBanner {
                width: 100%;
                height: 170px;
                background: url("../img/ADbanner.png") no-repeat center/cover;
                .ad {
                    display: flex;
                    padding: 15px 0;
                    dd {
                        flex: 1;
                        color: $white;
                        text-align: center;
                        h2 {
                            padding: 20px 0 25px;
                            font-size: 36px;
                            span {
                                font-size: 48px;
                            }
                        }
                        p {
                            font-size: 24px;
                            font-weight: 300;
                        }
                    }
                    dt {
                        width: 280px;
                        p {
                            width: 140px;
                            height: 140px;
                            border-radius: 5px;
                            background: $white;
                            span {
                                display: inline-block;
                                width: 140px;
                                height: 140px;
                                background: url("../img/sys.png") no-repeat center/contain;
                            }
                        }
                    }
                }
            }
            .content {
                .block {
                    padding: 60px 0;
                    position: relative;
                    .title {
                        font-size: 28px;
                        font-weight: 500;
                        color: $black;
                        padding-bottom: 25px;
                        text-align: center;
                    }
                    .desc {
                        font-size: 18px;
                        color: $color9;
                        text-align: center;
                    }
                    .list {
                        padding: 45px 0 0;
                        display: flex;
                        .left {
                            flex: 1;
                            height: 250px;
                            background: url("../img/chart.png") no-repeat center/contain;
                        }
                        .right {
                            flex: 1;
                            .name {
                                font-size: 24px;
                                padding-bottom: 40px;
                            }
                            .item {
                                font-size: 18px;
                                padding-bottom: 25px;
                                color: $color6;
                                i {
                                    color: darken($blue, 8%);
                                    font-size: 20px;
                                    margin-right: 10px;
                                }
                            }
                            .tip {
                                padding-top: 20px;
                                font-size: 16px;
                                color: $color9;
                            }
                            .tit {
                                font-size: 20px;
                                color: $orange;
                                padding-bottom: 20px;
                                text-align: center;
                            }
                            .txt {
                                text-align: justify;
                                text-indent: 2em;
                                font-size: 16px;
                                color: $color3;
                                padding: 0 40px;
                                line-height: 24px;
                            }
                        }
                    }
                    &.last {
                        border-top: 1px solid $border;
                    }
                    .circle {
                        position: absolute;
                        top: -8px;
                        left: 50%;
                        width: 20px;
                        height: 15px;
                        margin-left: -10px;
                        padding-top: 3px;
                        text-align: center;
                        background: $white;
                        i {
                            display: inline-block;
                            vertical-align: top;
                            width: 9px;
                            height: 9px;
                            background: $border;
                            border-radius: 5px;
                        }
                    }
                    //轮播图
                    .hbQualification {
                        position: relative;
                        width: 1000px;
                        margin: auto;

                        .swiper-container {
                            width: 900px;
                            height: 300px;
                            margin: 50px auto;
                        }
                        .swiper-slide {
                            text-align: center;
                            font-size: 18px;
                            background: #fff;

                            /* Center slide text vertically */
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            -webkit-align-items: center;
                            align-items: center;
                            a {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .swiper-button-next, .swiper-button-prev {
                            background-repeat:  no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                        .swiper-button-next {
                            background-image: url('../img/icon-right.png');
                            right: 0;
                            left: auto;
                        }
                        .swiper-button-prev {
                            background-image: url('../img/icon-left.png');
                            left: 0;
                            right: auto;
                        }
                        .baguetteBoxOne img {
                            width: 100%;
                            height: 100%;
                        }

                    }
                }
            }
            .partner-block {
                padding: 60px 0 20px;
                background: $light-grey;
                h2 {
                    font-size: 28px;
                    color: $color3;
                    text-align: center;
                    padding-bottom: 20px;
                }
                .list {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .item {
                        width: 210px;
                        height: 67px;
                        margin-top: 20px;
                        text-align: center;
                        background-color: $white;
                        background-repeat:no-repeat;
                        background-position: center;
                        background-size: auto;
                        &.item1 {
                            background-image: url('../img/gs-bank.png');
                        }
                        &.item2 {
                            background-image: url('../img/zg-bank.png');
                        }
                        &.item3 {
                            background-image: url('../img/js-bank.png');
                        }
                        &.item4 {
                            background-image: url('../img/sh-bank.png');
                        }
                        &.item5 {
                            background-image: url('../img/jck-bank.png');
                        }
                        &.item6 {
                            background-image: url('../img/hb-bank.png');
                        }
                        &.item7 {
                            background-image: url('../img/xw-bank.png');
                        }
                        &.item8 {
                            background-image: url('../img/zl-bank.png');
                        }
                        &.item9 {
                            background-image: url('../img/bf-bank.png');
                        }
                        &.item10 {
                            background-image: url('../img/ls-bank.png');
                        }
                    }
                }
                .more {
                    display: inline-block;
                    line-height: 40px;
                    padding-top: 20px;
                    font-size: 14px;
                    color: $color6;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color: $orange;
                    }

                }
            }
        }
    }
    &.about {
        width: 100%;
        height: 100%;
        .main {
            padding-bottom: 60px;
            .banner {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                width: 100%;
                height: 150px;
                padding: 40px 0 0;
                background-repeat: no-repeat;
                background-position: top center;
                -webkit-background-size: cover;
                background-size: cover;
                background-image: url("../img/banner_pc.jpg");
                .tit {
                    font-size: 26px;
                    color: $white;
                    padding-bottom: 20px;
                }
                p {
                    display: inline-block;
                    padding: 10px 50px 10px 10px;
                    color: $white;
                    font-size: 16px;
                    background: $blue;
                }
            }
            .main-info {
                height: 100%;
                display: flex;
                .sidebar {
                    margin: 30px 0 0;
                    width: 160px;
                    height: 100%;
                    .bg {
                        float: right;
                        width: 60px;
                        height: 40px;
                        background-repeat: no-repeat;
                        -webkit-background-size: contain;
                        background-size: contain;
                        background-position: top right;
                        background-image: url("../img/sidebar_bg.png");
                    }
                    &-list {
                        padding-top: 40px;
                        width: 140px;
                        height: 100%;
                        border-right: 1px solid $border;
                        li {
                            width: 100%;
                            line-height: 50px;
                            text-align: right;
                            transition: all .1s ease;
                            a {
                                display: inline-block;
                                font-size: 16px;
                                color: $color6;
                                text-decoration: none;
                            }
                            &:after {
                                display: inline-block;
                                content: '';
                                width: 8px;
                                height: 8px;
                                background: $border;
                                margin: 0 -4px 0 20px;
                                border-radius: 50%;
                            }
                            &:hover,
                            &.active {
                                a {
                                    color: $color3;
                                    font-weight: 500;
                                }
                                &:after {
                                    background: $yellow;
                                }
                            }
                        }
                    }
                }
                .right {
                    flex: 1;
                    padding: 60px 0 0 40px;
                    //公共头部
                    .info-title {
                        position: relative;
                        font-size: 18px;
                        font-weight: 500;
                        color: $color3;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, .2) 40%, #fff 80%);
                        span {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            margin-top: -10px;
                            z-index: 9;
                            color: $color3;
                            font-size: 18px;
                            background: $white;
                            width: 100px;
                            height: 20px;
                        }
                    }
                    //公司简介
                    .block {
                        padding: 20px 0 40px;
                        background: #ffffff;
                        border-bottom: 1px solid #eee;
                        &:last-child {
                            margin-top: 10px;
                            border-bottom: none;
                        }
                    }
                    .title {
                        padding: 20px 0;
                        text-align: center;
                        line-height: 40px;
                        font-weight: 400;
                        font-size: 16px;
                        span {
                            @include inline-block(top);
                            width: 140px;
                            height: 40px;
                            margin-right: 40px;
                            background-repeat: no-repeat;
                            background-position: center;
                            -webkit-background-size: contain;
                            background-size: contain;
                        }
                        &.title1 {
                            span {
                                background-image: url("../img/logo.png");
                            }
                        }
                        &.title2 {
                            span {
                                background-image: url("../img/logo2.png");
                            }
                        }
                    }
                    .desc {
                        text-align: center;
                        color: $black;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    .txt {
                        padding-top: 20px;
                        font-size: 14px;
                        line-height: 24px;
                        color: $light-black;
                        text-align: justify;
                        text-indent: 2em;
                    }
                    //一亿验资
                    .verifi_bg {
                        width: 100%;
                        height: 100%;
                        padding: 80px 0 0;
                        .img1 {
                            width: 760px;
                            margin: 0 auto;
                        }
                        .img2 {
                            width: 760px;
                            margin: 60px auto 0;
                        }
                    }
                    //组织架构
                    .org {
                        padding: 30px 0 0 100px;
                        .common-box {
                            display: flex;
                            dt {
                                flex: 1;
                                padding-left: 20px;
                                .box {
                                    position: relative;
                                    width: 70%;
                                    margin-top: 10px;
                                    &:before,
                                    &:after {
                                        display: inline-block;
                                        position: absolute;
                                        content: '';
                                        width: 0;
                                        height: 0;
                                        border: 20px solid transparent;
                                    }
                                    &:before {
                                        top: 0;
                                        left: -20px;
                                        z-index: 7;
                                        border-top-color: $light-grey;
                                    }
                                    &:after {
                                        top: 3px;
                                        left: -22px;
                                        z-index: 6;
                                        border-top-color: $dark-grey;
                                    }
                                    .dialog {
                                        position: absolute;
                                        top: 0;
                                        left: -2px;
                                        z-index: 10;
                                        @include inline-block(top);
                                        font-size: 12px;
                                        color: $color6;
                                        line-height: 20px;
                                        padding: 10px;
                                        border-radius: 5px;
                                        background: $light-grey;
                                        box-shadow: 4px 4px 0 1px $border;
                                    }
                                }
                            }
                            dd {
                                width: 300px;
                                p {
                                    display: inline-block;
                                    width: 280px;
                                    padding: 15px 0;
                                    border: 1px solid $border;
                                    border-radius: 5px;
                                    text-align: center;
                                    img {
                                        height: 40px;
                                    }
                                }
                                .txt {
                                    width: 100%;
                                    margin: 5px 0;
                                    padding: 20px 0 20px 100px;
                                    display: inline-block;
                                    background-repeat: no-repeat;
                                    background-position: 25%;
                                    -webkit-background-size: contain;
                                    background-size: contain;
                                    background-image: url("../img/arrow.png");
                                }
                            }
                        }
                    }
                    //合作伙伴
                    .brand-block {
                        border-bottom: 1px solid $border;
                        &:last-child {
                            border-bottom: none;
                        }
                        h2 {
                            padding: 40px 0;
                            text-align: center;
                            span {
                                display: inline-block;
                                color: $color3;
                                font-weight: 500;
                                line-height: 30px;
                                border-bottom: 2px solid $yellow;
                            }
                        }
                        .list {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            padding-bottom: 40px;
                        }
                        .item {
                            width: 90%;
                            margin: 0 auto;
                            //line-height: 102px;
                            //display: table-cell;
                            //vertical-align: middle;
                            //text-align: center;
                            img {
                                vertical-align: middle;
                            }
                        }
                        //&:nth-child(1) {
                        //    .list {
                        //        justify-content: space-around;
                        //    }
                        //}
                        //&:nth-child(2) {
                        //    .list {
                        //        .item {
                        //            width: 320px;
                        //            img {
                        //                max-width: 200px;
                        //            }
                        //        }
                        //    }
                        //}
                        //&:nth-child(3) {
                        //    .list {
                        //        border-bottom: none;
                        //        .item {
                        //            img {
                        //                max-width: 96%;
                        //            }
                        //        }
                        //    }
                        //}
                    }
                }
            }
        }
    }
    //手机端的样式
    &.mobile {
        background: $light-grey;
        //首页
        .download {
            text-align: center;
            background: $bg_black;
            header {
                background: $bg_black;
                h2 {
                    text-align: center;
                    padding: 30px 0;
                    span {
                        display: inline-block;
                        width: 74px;
                        height: 74px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        background-image: url("../img/index-logo.png");
                    }
                }
                h3 {
                    font-size: 25px;
                    color: $white;
                }
                h4 {
                    padding: 20px 0;
                    font-size: 20px;
                    color: $yellow;
                }
                .pic {
                    width: 188px;
                    height: 250px;
                    margin: 10px auto 30px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-image: url("../img/pic.png");
                }
                .downList {
                    padding-bottom: 40px;
                    dl {
                        @include inline-block(top);
                        width: 40%;
                        max-width: 140px;
                        border: 2px solid transparent;
                        @include border-radius(5px);
                        padding: 8px 0;
                        text-align: left;
                        dt {
                            @include inline-block(top);
                            width: 32%;
                            height: 30px;
                            background-repeat: no-repeat;
                            background-position: 15px 0;
                            background-size: contain;
                        }
                        dd {
                            @include inline-block(top);
                            width: 50%;
                            text-align: center;
                            p {
                                font-size: 14px;
                                white-space: nowrap;
                            }
                            span {
                                @include inline-block(top);
                                padding-top: 6px;
                                font-size: 12px;
                                white-space: nowrap;
                            }
                        }
                        &.apple {
                            border-color: $yellow;
                            dt {
                                background-image: url("../img/icon-apple.png");
                            }
                            dd {
                                color: $yellow;
                            }
                        }
                        &.andriod {
                            margin-left: 4%;
                            border-color: $green;
                            dt {
                                background-image: url("../img/icon-andriod.png");
                            }
                            dd {
                                color: $green;
                            }
                        }
                    }
                }
            }
            section {
                background: $bg_black;
                h2 {
                    position: relative;
                    margin-bottom: 30px;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(255, 255, 255, .6) 30%, white 60%, rgba(255, 255, 255, .7) 70%, rgba(0, 0, 0, .1));
                    p {
                        position: absolute;
                        margin: -8px auto 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        z-index: 9;
                        color: #fff;
                        font-size: 18px;
                        background: $bg_black;
                        width: 140px;
                        height: 20px;
                    }
                }
                .block {
                    padding: 0 1.4rem;
                    margin: 0 20px;
                    background: $white;
                    @include border-radius(5px);
                    dl {
                        text-align: center;
                        padding: 40px 0;
                        border-bottom: 1px dashed $light-black;
                        &:last-child {
                            border-bottom: none;
                        }
                        &:nth-child(1) {
                            dt {
                                background-image: url("../img/img1.png")
                            }
                        }
                        &:nth-child(2) {
                            dt {
                                background-image: url("../img/img2.png")
                            }
                        }
                        &:nth-child(3) {
                            dt {
                                background-image: url("../img/img3.png")
                            }
                        }
                        dt {
                            width: 135px;
                            height: 135px;
                            margin: 0 auto;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                        }
                        dd {
                            h4 {
                                padding: 30px 0 20px;
                                font-size: 18px;
                                color: $yellow;
                            }
                            p {
                                font-size: 14px;
                                color: $black;
                            }
                        }
                    }
                }
            }
            footer {
                padding: 20px 0;
                text-align: center;
                background: $bg_black;
                h2 {
                    padding-bottom: 20px;
                    a {
                        color: $white;
                        font-size: 18px;
                        text-decoration: underline;
                    }
                }
                p {
                    font-size: 12px;
                    line-height: 24px;
                    color: $light-white;
                    white-space: nowrap;
                }
            }
        }
        //关于我们
        .header_about {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9999;
            width: 100%;
            height: 44px;
            line-height: 44px;
            text-align: center;
            background: $white;
            h2 {
                font-size: 18px;
                color: $black;
                border-bottom: 1px solid $border;
            }
            .iconfont {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 9;
                padding: 0 10px;
                font-size: 1.3rem;
                color: lighten($light-black, 25%);
            }
        }
        //公司简介  检测
        .about {
            padding-top: 45px;
            margin-bottom: 60px;
            //关于我们引导页
            .index-list {
                margin: 20px 0;
                background: $white;
                li {
                    border-bottom: 1px solid $border;
                    a {
                        display: block;
                        padding: 20px;
                        color: $color3;
                        font-size: 16px;
                        text-decoration: none;
                        i {
                            float: right;
                            font-size: 1.4rem;
                            color: $border;
                        }
                    }
                    &:first-child {
                        border-top: 1px solid $border;
                    }
                }
            }
            .block {
                margin-top: 20px;
                padding: 0 0.9rem 20px;
                background: $white;
                h2 {
                    padding: 20px 0;
                    text-align: center;
                    span {
                        display: inline-block;
                        vertical-align: top;
                        width: 140px;
                        height: 40px;
                        padding-right: 40px;
                        background-repeat: no-repeat;
                        background-position: center;
                        -webkit-background-size: contain;
                        background-size: contain;
                    }
                    &.title1 {
                        span {
                            background-image: url("../img/logo.png");
                        }
                    }
                    &.title2 {
                        span {
                            background-image: url("../img/logo2.png");
                        }
                    }
                }
                h3 {
                    text-align: center;
                    color: $black;
                    font-size: 18px;
                    font-weight: 500;
                }
                p {
                    padding-top: 20px;
                    font-size: 14px;
                    line-height: 24px;
                    color: $light-black;
                    text-align: justify;
                    text-indent: 2em;
                }
                //验资
                &.verifi-block {
                    padding-top: 20px;
                    .pic {
                        width: 90%;
                        height: 400px;
                        margin: 0 auto;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain
                    }
                    .pic1 {
                        background-image: url("../img/mobile_page1.png");
                    }
                    .pic2 {
                        background-image: url("../img/mobile_page2.jpg");
                    }
                }
            }
            .banner {
                height: 100px;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-size: cover;
                background-size: cover;
                background-image: url("../img/banner.png");
                h2 {
                    display: inline-block;
                    margin: 40px 0 0 10px;
                    padding: 5px;
                    background: rgba(0, 0, 0, .2);
                    color: $white;
                    font-size: 16px;
                }
            }
        }
        //组织架构
        .org {
            padding: 65px 20px 60px;
            background: $white;
            overflow: hidden;
            .list {
                .block {
                    border: 1px solid $border;
                    border-radius: 5px;
                    padding: 10px;
                    box-shadow: 4px 4px 0 4px $dark-grey;
                    background: $white;
                    .tit {
                        padding: 5px 0 10px;
                        text-align: center;
                        span {
                            @include inline-block(top);
                            width: 100%;
                            height: 40px;
                            background-repeat: no-repeat;
                            background-position: center;
                            -webkit-background-size: contain;
                            background-size: contain;
                        }
                        &.tit1 {
                            span {
                                background-image: url("../img/logo4.png");
                            }
                        }
                        &.tit2 {
                            span {
                                background-image: url("../img/logo2.png");
                            }
                        }
                        &.tit3 {
                            span {
                                background-image: url("../img/logo3.png");
                            }
                        }
                        &.tit4 {
                            span {
                                background-image: url("../img/logo.png");
                            }
                        }
                    }
                    .txt {
                        font-weight: 500;
                        text-align: justify;
                        font-size: 14px;
                        color: $color3;
                        line-height: 22px;
                    }
                }
                .arrow {
                    width: 100%;
                    height: 95px;
                    text-align: center;
                    background: url("../img/arrow.png") no-repeat center;
                    span {
                        @include inline-block(top);
                        margin-top: 25px;
                        background: #fff;
                        font-size: 18px;
                    }
                }
            }
        }
        //合作伙伴
        .partner {
            padding-top: 45px;
            .brand-block {
                background: #fff;
                padding-bottom: 20px;
                .tit {
                    padding: 10px 20px;
                    background: $light-grey;
                }
                .list {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 20px 0;
                    background: $white;
                    .item {
                        flex: 1;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        //活动页面
        .header_banner {
            height: 170px;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: cover;
            background-size: cover;
            background-image: url("../img/banner2.png");
        }
        .activity {
            padding: 40px 0.9rem 0;
            background: url("../img/active_bg.png") repeat;
            .title {
                width: 250px;
                height: 60px;
                margin: 0 auto;
            }
            .txt {
                padding: 0 0 20px 30px;
                font-size: 14px;
                color: $bluer;
                h3 {
                    padding-top: 5px;
                }
            }
            .line {
                width: 100%;
                height: 260px;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-size: contain;
                background-size: contain;
                background-image: url("../img/line.png");
            }
            .list {
                font-size: 0;
                display: flex;
                padding: 40px 0 0;
                dt {
                    @include inline-block(top);
                    @include border-radius(50%);
                    width: 100px;
                    height: 100px;
                    background-repeat: no-repeat;
                    background-position: center;
                    -webkit-background-size: contain;
                    background-size: contain;
                }
                dd {
                    flex: 1;
                    padding-left: 15px;
                    @include inline-block(top);
                    h2 {
                        font-size: 20px;
                        color: $dark-bluer;
                        padding-bottom: 10px;
                    }
                    .item {
                        li {
                            padding-bottom: 5px;
                            font-size: 14px;
                            line-height: 18px;
                            color: $bluer;
                            span {
                                color: $black;
                            }
                        }
                    }
                }
                &.list1 {
                    dt {
                        background-image: url("../img/icon1.png");
                    }
                }
                &.list2 {
                    dt {
                        background-image: url("../img/icon2.png");
                    }
                }
                &.list3 {
                    dt {
                        background-image: url("../img/icon3.png");
                    }
                }
            }
            .tip {
                text-align: center;
                font-size: 12px;
                color: $color6;
                padding: 40px 0 20px;
            }
        }
    }
}